extends layouts/main

block content
    div(class="card", style="margin: 10%;", id="addBotForm")
        div(class="card-content")
            div(class="notification is-danger" v-if="lastError") {{lastError}}
            div(class="notification is-success" v-if="lastMessage") {{lastMessage}}

            div(class="field")
                label(class="label") Bot ID
                input(class="input", type="text",  v-model="data.bot_id")
            div(class="field")
                label(class="label") Prefix
                input(class="input", type="text",  v-model="data.prefix")
            div(class="field")
                label(class="label") Short Description
                input(class="input", type="text", v-model="data.short_description")
            div(class="field")
                label(class="label") Description
                input(class="input", type="text", v-model="data.description")
                div(class="field")
            label(class="label") Invite link
                input(class="input", type="text", v-model="data.invite_link")
            label(class="label") Website link
                input(class="input", type="text", v-model="data.website_link")
            div(class="field")
                div(class="control")
                    button(class="button is-link" @click="post") Submit

    script.
        new Vue({
            el: "#addBotForm",
            data() {
                return {
                    data: {
                        bot_id: "",
                        short_description: "",
                        description: "",
                        invite_link: ""
                    },
                    lastError: "",
                    lastMessage: ""
                }
            },
            methods: {
                post() {
                    axios.post("/add", this.data).then(res => {
                        this.lastError = "";
                        this.lastMessage = "";

                        if(res.data.error) this.lastError = res.data.error;
                        if(res.data.msg) this.lastMessage = res.data.msg;
                        
                        console.log(res.data);
                    });
                }
            }
        });