extends layouts/main

block head
    meta(property="og:site_name", content="Discord Bots")
    meta(property="og:title", content="Discord Bots")
    meta(property="og:description", content="Just another bot list.")
    meta(property="og:image", content=client.user.displayAvatarURL())
    meta(name="theme-color", content="#000000")