nav(class="navbar has-shadow", role="navigation")
    div(class="navbar-brand")
        a(class="navbar-item", href="/") 
            | Discord Bots
        
        a(class="navbar-burger", role="button", aria-expanded="false", data-target="navbarContent" id="openNavbar")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")

    div(class="navbar-menu", id="navbarContent")
        div(class="navbar-end")
            a(class="navbar-item", href=`/switch_theme`) #{darkMode ? "Light Theme" : "Dark Theme"}
            a(class="navbar-item", href=`/docs`) Documentation

            if session
                if session.permissions.moderator
                    a(class="navbar-item", href=`/admin`) Admin

                a(class="navbar-item", href=`/add`) Add Bot
                a(class="navbar-item", href=`/user/${session._id}`) #{session._username}

            else    
                a(class="navbar-item", href="/auth/login") Login

script.
    document.querySelector("#openNavbar").addEventListener("click", () => {
        const navbarContent = document.querySelector("#navbarContent");

        if(navbarContent.classList.contains("is-active")) {
            navbarContent.classList.remove("is-active");
        }else {
            navbarContent.classList.add("is-active");
        }
    });