<!DOCTYPE html>
html(lang="en")
    head
        link(rel="icon", type="image/png", href=client.user.displayAvatarURL({size: 64}))
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        link(rel="stylesheet", type="text/css", href="/static/app/dist/index.css")
        
        title Discord Bots

        script.
            window._isLoggedIn = #{session ? "true" : "false"}
            window.darkMode = #{darkMode ? "true" : "false"}

        if session
            script.
                window._session = !{JSON.stringify(session)}

        if darkMode
            link(rel="stylesheet", type="text/css", href="/static/css/darkmode.css")

        link(rel="stylesheet", type="text/css", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")        
    body
        block content

        div(id="app")
        
        script(src="/static/app/dist/index.js")