<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Discord Bots

        link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css")

        if darkMode
            link(rel="stylesheet", type="text/css", href="/static/css/darkmode.css")
        //- if darkMode === "true"
        //-     link(rel="stylesheet", type="text/css", href="/static/bundle/dist/index.css")
        //- else
        //-     link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css")

        link(rel="stylesheet", type="text/css", href="https://cdn.jsdelivr.net/npm/bulma-switch@2.0.0/dist/css/bulma-switch.min.css")
        script(src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js")

        script.
            window._isLoggedIn = #{session ? "true" : "false"}
        
        if session
            script.
                window._user_id = "#{session._id}";

    body(class="body")
        include ../partials/navbar

        block content

        link(rel="stylesheet" type="text/css" href="/static/css/layout.css")