<!DOCTYPE html>
html(lang="en")
    head
        link(rel="icon", type="image/png", href=client.user.displayAvatarURL({size: 64}))
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        block head
        
        link(rel="stylesheet", type="text/css", href="/static/app/dist/index.css")
        
        title Discord Bots

        link(rel="stylesheet", type="text/css", href="/static/css/darkmode.css" id="darkmode")
    body
        div(class="align-center" id="loading-spinner")
            div(class="lds-dual-ring")

        block content

        div(id="app")

        div(id="scripts")

        div(id="styles")
            include ../styles/loader.pug

        include ../scripts/regionSelector